<div class="card">
    <h3 class="card-header">Edit</h3>
    <form class="card-body">
        <div>
            <label class="form-label">Title</label>
            <input class="form-input" type="text" name="post-title" value="{{post.postTitle}}"/>
        </div>

        <div>
            <div>
                <label class="form-label">Post Here</label>
                <textarea class="form-textarea form-input" name="post-body">{{post.postContent}}</textarea>
            </div>
        </div>
    </form>
    <div class="card-body">
        <button class="btn btn-primary" type="click" id="delete-button">Delete</button>
    </div>
</div>
<script src="/js/edit.js"></script>