<div class="card">
    <h3 class="card-header">Create Post</h3>
    <form class="card-body" id="new-form">
        <input type="hidden" name="post-id" value="{{post.id}}"/>
        <div>
            <label class="form-label">Title:</label>
            <input class="form-input" type="text" name="post-title" />
        </div>
        <div>
            <label class="form-label">Body</label>
            <textarea class="form-textarea form-input"  name="post-body" />
        </div>
        <button class="btn btn-primary">Create</button>
    </form>
</div>
<script src="/js/new.js"></script>